@model IEnumerable<WebApplication1.Models.EmployeeShiftsModel>

@{
    ViewBag.Title = "Vardiyalar";
}

<h2>Vardiyalar</h2>

<p>
    @Html.ActionLink("Vardiya Ekle", "EmployeeShiftInsert")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.DailyWages)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Employee.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Employee.Surname)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Shift.StartTime )
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Shift.EndTime)
        </th>
       
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.DailyWages)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Employee.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Employee.Surname)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Shift.StartTime)
        </td>
        <td>
            @Html.DisplayFor(modelItem =>  item.Shift.EndTime)
        </td>
       
        <td>
            @Html.ActionLink("Delete", "EmployeeShiftDelete", new { id = item.Id })
        </td>
    </tr>
}

</table>
