@model IEnumerable<WebApplication1.Models.ExtraProductsModel>

@{
    ViewBag.Title = "ProductList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Ürün Listesi</h2>

<p>
    @Html.ActionLink("Yeni", "ProductInsert")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayName("Kategori Adı")
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Amount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsActive)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model)
{
    <tr id="Product@(item.Id)">
        <td>
            @Html.DisplayFor(modelItem => item.ExtraProductCategory.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Amount)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IsActive)
        </td>
        <td>
            @Html.ActionLink("Düzenle", "ProductEdit", new { id = item.Id }) |
            @Html.ActionLink("Detaylar", "ProductDetails", new { id = item.Id }) |
            <a onclick="DeletePostToAction(@item.Id,'Ürünü Silmek İstediğine Emin Misin?','ProductDelete','Product','ProductList',true,null)" class="btn btn-danger"><i class="fa fa-remove"> </i>Sil</a>
        </td>
    </tr>
}

</table>
